<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this habit from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% 3.times do %>

<%= f.fields_for :habits, @user.habits.build  do |builder| %>

  <div class="field">
    <%= builder.label :aftertrigger %><br>
    <%= builder.text_area :aftertrigger %>
  </div>
  <div class="field">
    <%= builder.label :behavior %><br>
    <%= builder.text_area :behavior %>
  </div>
<% end %>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
